body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    font-family: Indie Flower;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    font-family: Indie Flower;
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 5em;
}

.col-md-4 {
    font-family: 'Open Sans', sans-serif;
}
hr {
    border: 1;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #BEBEBE, #696969, #BEBEBE);
}

.clearfix {
    margin-bottom: 20px;
}